
.history-image{
	max-height: 100px;
	max-width: 100px;
	position: absolute;
}

.history-image-info{
	/*display: inline-block;*/
	position: absolute;
	top: 0;
	opacity: 0;
	font-size: 80%;
	line-height: 0.7em;
	text-align: center;
	background-color: black;
	color: white;
	width: 100px;
	height: 100px;
	margin: 0;
	padding: 15px;
	text-transform: uppercase;
}

.history-image-info:hover{
	opacity: 1.0;
}

.history-image-container{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0;
	margin-left: -5px;
}

.history-container{
	width: 80%;
	margin: 50px auto;
}

.compareImage-container {
	margin: 50px auto;
    position: relative;
    height: 300px;
    width: 80%;
    text-align: center;
}

.compareImage-container img {
	max-width: 40%;
    vertical-align: bottom;
}

.companyInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


.time{
	margin-top: -5px;
}

.symbol{
	letter-spacing: 3px;
	margin-top: -5px;
}

.change-up{
	color: #33CC00;
}

.change-down{
	color: red;
}

.change-still{
	color: black;
}

a{
	text-decoration: none;
	border-bottom: 1px solid rgb(80,80,255);
	padding-bottom:1px;
	color: rgb(80, 80, 255);
	transition: color 0.5s, border-bottom 0.5s;
	border-bottom: 1px solid rgba(0, 68, 221, 0.2);
	padding-top: 1px;
}

a:hover{
	text-decoration: none;
	border-bottom: 1px solid red;
	padding-bottom:1px;
	color: red;
	transition: color 0.0s, border-bottom 0.0s;
}

a:active{
	text-decoration: none;
	border-bottom: 1px solid darkred;
	padding-bottom:1px;
	color: darkred;
}

a:focus{
	text-decoration: none;
	border-bottom: 1px solid red;
	padding-bottom:1px;
	color: red;
	transition: color 0.0s, border-bottom 0.0s;
}

a:visited {
	text-decoration: none;
	border-bottom: 1px solid blueviolet;
	padding-bottom:1px;
    color: purple;
}

a:visited:hover {
	text-decoration: none;
	border-bottom: 1px solid red;
	padding-bottom:1px;
    color: red;
}

a:visited:active {
	text-decoration: none;
	border-bottom: 1px solid darkred;
	padding-bottom:1px;
    color: darkred;
}

.block-link{
	/*display: inline-block;*/
	border: none !important;
}

.block-link-text{
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom:1px;
}



.hidden {
  display: none;
  height: 0;
}

.visuallyhidden {
  opacity: 0;
  height: 0;
}



.companyInfo-container{
	opacity: 0;
	visibility: hidden;
	transform: matrix(0.9, 0, 0, 0.9, 0, 30);
    transition:  visibility 0.7s, opacity 0.7s, transform 0.3s;
}

.index-container{
	opacity: 0;
	visibility: hidden;
	transform: matrix(0.95, 0, 0, 0.95, 0, 30);
    transition:  visibility 0.7s, opacity 0.7s, transform 0.3s;
}

.shown{
	transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
    transition:  visibility 0.3s, opacity 0.3s, transform 0.3s;
    visibility: visible;
    transition-delay: 0s;
}


.close-mark{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	cursor: pointer;
}

.close-sign{
	font-size: 300%;
	font-weight: 100;
}


.preloader{
	display: none;
	background-color: rgba(255, 255, 255, 1);
	width: 100vw;
	height: 100vh;
	left: 0;
	position: fixed;
	z-index: 100;
}

.preloader-text{
	margin-top: 47vh;
	text-align: center;
	font-size: 3vw;
	font-weight: bold;


	color: #F37866;

    animation-name: gradientText;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes gradientText {
    0% {color: rgb(255, 80, 80);}
    20% {color: green;}
    40% {color: yellow;}
    60%	{color: blue;}
    80% {color: magenta;}
    100% {color: rgb(255, 80, 80);}
}
