.thumbnail{
	max-height: 200px;
}

.company-image{
	/*max-width: 50%;*/
}

.history-image{
/*	max-height: 25px;
	max-width: 25px;
	margin: 0;*/
}

.history-container{
	width: 80%;
}

.compareImage-container {
	margin-top: 50px;
	margin-bottom: 50px;
    position: relative;
    height: 300px;
}

.compareImage-container img {
    vertical-align: bottom;
}

.companyInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.time{
	margin-top: -5px;
}

.symbol{
	letter-spacing: 3px;
	margin-top: -5px;
}

.change-up{
	color: #33CC00;
}

.change-down{
	color: red;
}

.change-still{
	color: black;
}

a{
	border-bottom: 1px solid rgba(0, 68, 221, 0.2);
	padding-top: 1px;
}

a:hover{
	text-decoration: none;
}



.hidden {
  display: none;
  height: 0;
}

.visuallyhidden {
  opacity: 0;
  height: 0;
}



.companyInfo-container{
    transition: all 0.2s ease-in-out;
    height: auto;
    display: block;
}

.index-container{
    transition: all 0.2s ease-in-out;
    height: auto;
    display: block;
}
