.company-image{
	max-height: 200px;
}

.companyInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.time{
	margin-top: -5px;
}

.symbol{
	letter-spacing: 3px;
	margin-top: -5px;
}

.change-up{
	color: #33CC00;
}

.change-down{
	color: red;
}

.change-still{
	color: black;
}
