


.company-image-container{
	text-align: right;
}

.company-image{
	display: inline;
	margin: 0;
	max-width: 350px;
	max-height: 350px;
}

.company-name{
	max-width: 400px;
}

.history-image{
	max-height: 100px;
	max-width: 100px;
}

.history-image-info{
	margin-top: 15px;
	font-size: 80%;
	line-height: 0.3em;
	text-align: center;
}

.history-date{
	font-style: italic;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 7px;
}

.history-image-container{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 0;
	margin-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.history-container{
	width: 80%;
	margin: 80px auto;
}

.compareImage-container {
	margin: 50px auto;
    position: relative;
    height: 300px;
    width: 80%;
    text-align: center;
}

.compareImage-container img {
	max-width: 40%;
    vertical-align: bottom;
}

.companyInfo {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 400px;
  /*display:table;*/
}


.name{
	display: inline-block;
	position: relative;
	top: 2px;
}

.bid{
	display: inline-block;
}

.time{
	margin-top: -5px;
	display: inline-block;
}

.symbol{
	letter-spacing: 2px;
	display: inline-block;
	position: relative;
	top: -1px;
	margin-left: 10px;
	border: 1px solid;
	padding: 2px;
	padding-left: 3px;
}

.change-up{
	color: #33CC00;
}

.change-down{
	color: red;
}

.change-still{
	color: black;
}

a{
	text-decoration: none;
	border-bottom: 1px solid rgb(80,80,255);
	padding-bottom:1px;
	color: rgb(80, 80, 255);
	transition: color 0.5s, border-bottom 0.5s;
	border-bottom: 1px solid rgba(0, 68, 221, 0.2);
	padding-top: 1px;
}

a:hover{
	text-decoration: none;
	border-bottom: 1px solid red;
	padding-bottom:1px;
	color: red;
	transition: color 0.0s, border-bottom 0.0s;
}

a:active{
	text-decoration: none;
	border-bottom: 1px solid darkred;
	padding-bottom:1px;
	color: darkred;
}

a:focus{
	text-decoration: none;
	border-bottom: 1px solid red;
	padding-bottom:1px;
	color: red;
	transition: color 0.0s, border-bottom 0.0s;
}

a:visited {
	text-decoration: none;
	border-bottom: 1px solid blueviolet;
	padding-bottom:1px;
    color: purple;
}

a:visited:hover {
	text-decoration: none;
	border-bottom: 1px solid red;
	padding-bottom:1px;
    color: red;
}

a:visited:active {
	text-decoration: none;
	border-bottom: 1px solid darkred;
	padding-bottom:1px;
    color: darkred;
}

.block-link{
	/*display: inline-block;*/
	border: none !important;
}

.block-link-text{
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom:1px;
}



.hidden {
  display: none;
  height: 0;
}

.visuallyhidden {
  opacity: 0;
  height: 0;
}



.companyInfo-container{
	opacity: 0;
	visibility: hidden;
	transform: matrix(0.9, 0, 0, 0.9, 0, 30);
    transition:  visibility 0.7s, opacity 0.7s, transform 0.3s;
}

.index-container{
	opacity: 0;
	visibility: hidden;
	transform: matrix(0.95, 0, 0, 0.95, 0, 30);
    transition:  visibility 0.7s, opacity 0.7s, transform 0.3s;
}

.shown{
	transform: matrix(1, 0, 0, 1, 0, 0);
	opacity: 1;
    transition:  visibility 0.3s, opacity 0.3s, transform 0.3s;
    visibility: visible;
    transition-delay: 0s;
}


.close-mark{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	cursor: pointer;
}

.close-sign{
	font-size: 300%;
	font-weight: 100;
}

.intro-container{
	margin: 0;
	/*height: 80vh;*/
	padding-top: 12vh;
	padding-bottom: 12vh;
	/*background-color: black;*/
	color: white;
	text-align: center;
/*	background-image: url(../img/background.jpg);
	background-repeat: repeat;*/
}

.intro-centered{
	margin: 0 auto;
	/*height: 60vh;*/
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 12vh;
	margin-bottom: 12vh;
}

.header{
	margin: 0 auto;
	font-size: 15vh;
	line-height: 0.9em;
	padding: 3vw;
	border: 1px solid;
}

@media screen and (max-width: 660px) {

	.header{
		font-size: 50px;
	}

	.intro-container{
		height: 60vh;
	}

	.intro-centered{
		margin-top: 6vh;

	}

	.row{
		margin-bottom: 0;
	}

}

@media screen and (max-width: 991px) {

	.company-image-container{
		text-align: center;
	}

	.company-info-container{
		max-width: 400px;
		margin: 0 auto;
	}

	.companyInfo{
		margin-top: 50px;
		display: table;
	}

}

.explainer-text{
	margin:0 auto;
	margin-top: 30px;
	padding-left: 3vh;
	padding-right: 3vh;
	line-height: 1.2em;
	max-width: 550px
}

.footer{
	text-align: center;
	margin-bottom: 50px;
}

.outro{
	margin-top: 150px;
	width: 90%;
	margin-bottom: 100px;
	text-align: center;
	line-height: 1.5em;
	padding: 50px;
	border: 2vw solid red;
}


.preloader{
	display: none;
	background-color: rgba(255, 255, 255, 1);
	width: 100vw;
	height: 100vh;
	left: 0;
	position: fixed;
	z-index: 100;
}

.preloader-text{
	margin-top: 47vh;
	text-align: center;
	font-size: 3vw;
	font-weight: bold;


	color: #F37866;

    animation-name: gradientText;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes gradientText {
	 0%	{color: lavenderblush;}
    10% {color: yellow;}
    20% {color: orange;}
    30%	{color: red;}
    40% {color: magenta;}
    50%	{color: blue;}
    60% {color: lightblue;}
    70%	{color: aqua;}
    80%	{color: lightgreen;}
    90%	{color: green;}
    100% {color: goldenrod;}
}
